<!doctype html>
<html ng-app>

<head>
    <title>Lista de compras com AngularJS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/estilo.css">
   
    <script src="lib/angular-1.0.1.js"></script>
    <script src="app/listacompra.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
   
</head>

<body>
    <center><br>
        <div class="container " ng-controller="ListaComprasController">
            <center><h1>Lista de Compras!</h1></center>
            <hr>
            <div class="row">
                <table id="lista-compras" class=" table table-borderless table-info">
                    
                        <thead>
                            <tr>
                                <th>Comprado?</th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in itens" class="comprado-{{ item.comprado }}">
                                <td><input type="checkbox" ng-model="item.comprado"></td>
                                <td><strong>{{ item.produto }}</strong></td>
                                <td>{{ item.quantidade }}</td>
                            </tr>
                        </tbody> 
                </table>
            </div>
            <div class="row">

                <form class="form-inline mb-2" name="formItem">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                            <input class="form-control" type="text" ng-model="item.produto" placeholder="Produto">
                            </div>
                            <div class="col-sm">
                            <input class="form-control" type="number" ng-model="item.quantidade" placeholder="Quantidade">
                            </div>
                            <div class="col-sm">
                            <button class="btn btn-primary btn-lg " ng-click="adicionaItem()">adicionar ítem</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </center>

</body>

</html>